
/* Override Login/Register forms styles */

.buttonsHolder{
  display: block;
  width: 100%;
  text-align: center;
}

.buttonsHolder div{
  margin: 20px 0;
}

.buttonsHolder button{
  margin-bottom: 5px;
}

.btnFacebook, .btnGoogle{
  text-transform: capitalize;
  min-width: 230px;
}
