
.mainHeaderHolder{
  position: fixed !important;
  z-index: 1101;
}
.mainHeaderHolder.is-scrolled{
  top: 0;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  transition-delay: 0.3;
}
.mainHeaderHolder.is-ontop{
  top: 48px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  transition-delay: 0.3;
}

/* Custom CSS to override NavBar styles */

.navDropdown{

}

.navDropdown .dropdown-toggle::after {
  display: none;
}

.navDropdown .dropdown-toggle:hover, .navDropdown .dropdown-toggle:focus{
  color: #F62F5E;
}

.navDropdown .nav-link{
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  -webkit-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
  padding-left: 0;
  padding-right: 2rem;
}

.navDropdown .dropdown-menu{
  top: 61px !important;
  opacity: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /*transform: none !important;*/
  transform: translate3d(0px, 0px, 0px) !important;
  will-change: unset !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
  border-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navDropdown .dropdown-menu.show{
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navDropdown .dropdown-menu .dropdown-item{
  color: #2e2e2e;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
}

.navDropdown .dropdown-menu .dropdown-item:hover{
  color: #F62F5E;
}

.navDropdown .dropdown-menu .dropdown-item:focus{
  background-color: #F62F5E;
  color: #fff;
}

@media (max-width: 768px){
  .mainHeaderHolder {
      top: 70px;
  }
  .mainHeaderHolder.is-ontop{
      top: 70px;
  }
}
