body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown-toggle.nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.dropdown-toggle.nav-link:hover {
  color: rgb(255, 255, 255);
}

.dropdown-item.active, .dropdown-item:active{
  background: rgb(246, 47, 94);
}

.dropdown-item:hover {
  color: white;
  background: rgb(255, 92, 130);
}